@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  font-family: Montserrat;
  /* line-height: 1.5; */
  font-weight: 400;
/* 
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



/* ========my style========== */

body{
  display: grid;
  grid-template-rows: repeat(2,1fr);
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%
}

header > h1{
  position: absolute;
  top: 60px;
  width: 600px;
  text-align: center;
}


p{
  background-color: transparent;
  color: white;
  font-weight: 700;
  font-size: 12px;
  width: 90px;
}

main{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  justify-items: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.circle{
  position: relative;
  background: #714FFF;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:0.2rem;
  text-align: center;
  cursor: pointer;
  transition: 0.5s all;
}

.circle:hover{
  background: #6a49ec;
  box-shadow: 5px 5px 5px #0000001a;
}

.circle1{
  transform: translate(10px,150px);
  
}
.arrow1{
  transform: translate(-35px,30px);
}

.circle2{
  transform: translate(-60px,-50px);
}

.arrow2{
  transform: translate(-80px,-0px);
}

.circle3{
  transform: translate(-100px,60px);
}

.arrow3{
  transform: translate(-120px,70px);
}

.circle4{
  transform: translate(-150px,0px);
}


.circle  img{
  background-color: transparent;
  width: 40px;
  transition: 0.5 all;
}
.arrow{
  animation: arrowForward 1s alternate infinite;
  transition: 0.5s all;
}

@keyframes arrowForward {
  0%{
    opacity: 0.3;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}


